body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Microsoft YaHei, "宋体", Tahoma, Helvetica, Arial, "\5b8b\4f53",
    sans-serif;
}

.body-fit-width {
    min-width:-webkit-min-content;
    min-width:-moz-min-content;
}

.button-margin-buttom,
.items-margin-buttom {
    margin-bottom: 20px !important;
}